.btn {
  padding: 20px;
  margin: 20px;
  background-color: teal;
  color: #fff;
  border: 0px;
  cursor: pointer;
  font-size: 1.2em;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  &__1 {
    color: teal;
    background-color: #ffffff;
    border: solid 3px transparent;
    transition: background-color .2s ease-in-out, color 1s ease-in-out, border .2s ease-in-out;

    &:hover {
      background-color: transparent;
      color: #ffffff;
      border: solid 3px #ffffff;
    }
  }

  &__2 {
    position: relative;

    &::before {
      content: '';
      height: 3px;
      width: 0%;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #ffffff;
      transition: width .2s ease-out;
    }

    &::after {
      content: '';
      height: 0%;
      width: 3px;
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: #ffffff;
      transition: height .2s ease-in .2s;
    }

    &:hover::before {
      width: 100%;
    }

    &:hover::after {
      height: 100%;
    }
  }

  &__3 {
    position: relative;
    transition: height .3s ease-in, width .6s ease-out;

    &::before {
      content: '';
      height: 3px;
      width: 0%;
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: #ffffff;
      transition: width .3s ease-out;
    }

    &::after {
      content: '';
      height: 0%;
      width: 3px;
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: #ffffff;
      transition: height .3s ease-in;
    }

    &:hover::before {
      width: 100%;
    }

    &:hover::after {
      height: 100%;
    }
  }

  &__4 {
    position: relative;
    transition: height .3s ease-in, width .6s ease-out;
    letter-spacing: 0px;
    transition: letter-spacing .5s;

    &:hover {
      letter-spacing: 5px;
    }

    &::before {
      content: '';
      height: 3px;
      width: 0%;
      position: absolute;
      right: 0;
      top: 0;
      background-color: #ffffff;
      transition: width .3s ease-in-out;
    }

    &::after {
      content: '';
      height: 3px;
      width: 0%;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #ffffff;
      transition: width .3s ease-in-out;
    }

    &:hover::before,
    &:hover::after {
      width: 100%;
    }
  }

  &__5 {
    position: relative;

    &::before {
      content: '';
      width: 20px;
      height: 20px;
      border: solid 2px #ffffff;
      border-color: #ffffff #ffffff transparent transparent;
      position: absolute;
      top: 0;
      right: 0;
      transition: all .3s ease-in-out;
    }

    &::after {
      content: '';
      width: 20px;
      height: 20px;
      border: solid 2px #ffffff;
      border-color: transparent transparent #ffffff #ffffff;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all .3s ease-in-out;
    }

    &:hover::before,
    &:hover::after {
      width: 100%;
      height: 100%;
    }
  }

  &__6 {
    border: 1px solid #fff;
    transition: box-shadow .2s ease-in-out;
    position: relative;

    &:hover {
      box-shadow: inset 0 0 15px #fff;
    }

    &::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      border: 1px solid #fff;
      top: 0;
      left: 0;
      transition: transform .4s, border-color .4s;
    }

    &::after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      border: 1px solid #fff;
      top: 0;
      left: 0;
      transition: transform .4s, border-color .4s;
    }

    &:hover::before {
      transform: scale(1.25);
      border-color: transparent;
    }

    &:hover::after {
      transform: scale(1.1);
      border-color: transparent;
    }
  }

  &__7 {
    border: solid 1px #ffffff;
    position: relative;
    z-index: 1;

    transition: color .3s .3s;

    &::before {
      content: '';
      height: 100%;
      width: 0%;
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: #fff;
      z-index: -1;
      transition: width .3s cubic-bezier(1, .03, .74, .32);
    }

    &:hover::before {
      width: 100%;
    }

    &:hover {
      color: teal;
    }
  }

  &__8 {
    border: solid 1px #ffffff;
    position: relative;
    overflow: hidden;
    z-index: 1;

    transition: color .4s;

    &::before {
      content: '';
      position: absolute;
      width: 0%;
      height: 100%;
      top: 0;
      left: -15px;
      background-color: #ffffff;
      transition: width .4s cubic-bezier(1, .03, .74, .32);
      transform: skew(-20deg);
      z-index: -1;
    }

    &:hover::before {
      width: 130%;
    }

    &:hover {
      color: teal;
    }
  }

  &__9 {
    border: solid 1px #ffffff;
    position: relative;
    overflow: hidden;
    z-index: 1;

    transition: color .4s;

    &::before {
      content: '';
      position: absolute;
      width: 0%;
      height: 0%;
      top: -30px;
      left: -30px;
      background-color: #ffffff;
      transition: width .4s, height .4s;
      transform: rotate(45deg) translateX(0);
      z-index: -1;
    }

    &:hover::before {
      width: 200%;
      height: 300%;
    }

    &:hover {
      color: teal;
    }
  }

  &__10 {
    border: solid 1px #ffffff;
    position: relative;

    z-index: 1;

    transition: color .4s;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 0%;
      top: 0;
      left: 0;
      background-color: #ffffff;
      transition: height .4s cubic-bezier(1, .03, .74, .32);
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0%;
      bottom: 0;
      left: 0;
      background-color: #ffffff;
      transition: height .4s cubic-bezier(1, .03, .74, .32);
      z-index: -1;
    }

    &:hover::after,
    &:hover::before {
      height: 100%;
    }

    &:hover {
      color: teal;
    }
  }

  &__11 {
    border: solid 1px #ffffff;
    transition: border-radius .3s;

    &:hover {
      border-radius: 20px;
    }
  }

  &__12 {
    border: solid 1px #ffffff;
    position: relative;
    overflow: hidden;
    z-index: 1;

    transition: color .6s;

    &::before {
      content: '';
      position: absolute;
      top: -25px;
      left: -25px;
      width: 0%;
      height: 0%;
      background-color: #ffffff;
      transform: rotate(30deg);
      transition: all .5s;
      border-radius: 80%;
      z-index: -1;
    }

    &:hover::before {
      width: 200%;
      height: 300%;
    }

    &:hover {
      color: teal;
    }
  }
}
