.section-gradient,
.section-fade,
.section-btn-hover,
.section-transform {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10rem;
}

.section-btn-hover {
  background-color: teal;
  padding: 30px;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}
