.section-transform {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    &--1 {
      transition: transform .4s cubic-bezier(.59, -0.39, .13, 1.48);

      &:hover {
        transform: scale(1.2);
      }
    }

    &--2 {
      transition: transform .4s;
      transform: scale(1.2) rotate(10deg);

      &:hover {
        transform: scale(1) rotate(0);
      }
    }

    &--3 {
      transition: transform .4s;
      transform-origin: top left;

      &:hover {
        transform: scale(1.1);
      }
    }

    &--4 {
      transition: transform .4s, filter .7s;
      transform-origin: top;

      &:hover {
        transform: scale(2);
        filter: blur(2px);
      }
    }

    &--5 {
      transition: transform .3s, filter .5s .3s;
      transform: scale(1) rotate(0);

      &:hover {
        transform: scale(1.5) rotate(10deg);
        filter: grayscale(100%);
      }
    }
  }

  &__content {
    width: 250px;
    height: 250px;

    &--overflow {
      overflow: hidden;
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.section-transform-content {
  color: #ffffff;

  h1 {
    font-size: 3em;
    text-align: center;
    padding: 20px;
  }

  &__wrapper {
    width: 50%;
  }

  &__text {
    text-align: justify;
    background-color: rgba(0, 0, 0, (.3));
    border: solid 1px rgba(0, 0, 0, (.1));

    &:nth-child(2n+1) {
      transform: skew(15deg);

    }

    &:nth-child(2n+2) {
      transform: skew(-15deg);
    }

    /*
    Code to straighten the text

    &:nth-child(2n+1) .section-transform-content__p {
      transform: skew(-15deg);
    }
    &:nth-child(2n+2) .section-transform-content__p {
      transform: skew(15deg);
    }
    */
  }

  &__p {
    font-size: 1.1em;
    padding: 20px;
  }
}

.section-transform-translate {
  &__wrapper {
    width: 40%;
    position: relative;
    background-color: grey;
    overflow: hidden;

    h2 {
      font-size: 2em;
      text-align: center;
      padding: 20px;
    }

    p {
      padding: 20px;
    }
  }

  &__wrapper:hover &__hover {
    transform: translateX(0);
  }

  &__main {
    background-color: #ef8e38;
  }

  &__hover {
    background-color: #108dc7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform .5s cubic-bezier(0,.01,1,-0.07);
    transform: translateX(-580px);
  }
}
